# needed env secrets for the app
SMTP_HOST=smtp.protonmail.ch
SMTP_PORT=587
SMTP_USER=you@protonmail.com
SMTP_PASSWORD=your-password
SMTP_FROM=you@protonmail.com
SECRET_KEY=your-secret-key
GOOGLE_ANALYTICS_ID=G-XXXXXXXX
DATABASE_PATH=scubaduikers.db