# needed env secrets for the app
SMTP_HOST=smtp.protonmail.ch
SMTP_PORT=587
SMTP_USER=you@protonmail.com
SMTP_PASSWORD=your-password
SMTP_FROM=you@protonmail.com
GOOGLE_ANALYTICS_ID=G-XXXXXXXX
DATABASE_PATH=scubaduikers.db

# needed env secrets for the restore_prod_db.py script
S3_ACCESS_KEY=x
S3_SECRET_KEY=x
S3_ENDPOINT=x
S3_BUCKET=x

# for debug
ENVIRONMENT=DEV

# security
SECRET_KEY=your-secret-key
