{% extends "base.html" %}

{% block title %}Contact – Scubaduikers{% endblock %}

{% block content %}
<section class="form-section">
    <h1>Contact</h1>
    <p>Heb je een vraag, opmerking of probleem? Stuur mij een e-mail:</p>
    <p><a href="mailto:walther@scubaduikers.nl">walther@scubaduikers.nl</a></p>

    <h2>Over scubaduikers</h2>
    <p>Scubaduikers is bedoeld als project om duiken voor OSV Veenendaal te faciliteren en te promoten.</p>
    <p>De code van de app is openbaar en ook andere duikclubs mogen gratis gebruik maken van deze app.</p>
    <p>Bekijk de code op <a href="https://github.com/walthertimmer/scubaduikers" target="_blank">GitHub</a>.</p>
    <p>Issues en andere verbeterpunten kunnen via 'Issues' in GitHub worden gemeld. <a href="https://github.com/walthertimmer/scubaduikers/issues" target="_blank">Meld een issue</a>.</p>
</section>
{% endblock %}
