{% extends "base.html" %}

{% block title %}Wijzigingen – Scubaduikers{% endblock %}

{% block content %}
<section class="form-section">
    <h1>Wijzigingen</h1>

    <div class="changelog">
        <div class="changelog-entry">
            <span class="changelog-date">Juni 2026 - versie 5 & 6</span>
            <ul>
                <li>Uitbreiding admin scherm.</li>
            </ul>
        </div>

         <div class="changelog-entry">
            <span class="changelog-date">Juni 2026 - versie 4</span>
            <ul>
                <li>Naam lid in het duikoverzicht als het geen clubduik betreft ipv onbekend.</li>
                <li>Toevoegen clubhuis waar clubleden berichten met alleen elkaar kunnen delen.</li>
            </ul>
        </div>

        <div class="changelog-entry">
            <span class="changelog-date">Juni 2026 - versie 3</span>
            <ul>
                <li>Aparte pagina voor organiseren lidmaatschap clubs.</li>
                <li>Indien niet ingelogd verwijzigingen om in te loggen om club of duik aan te maken.</li>
                <li>Mogelijkheid om een bericht mee te sturen bij het verzoek tot toetreding van een duikclub.</li>
            </ul>
        </div>

        <div class="changelog-entry">
            <span class="changelog-date">Juni 2026 - versie 2</span>
            <ul>
                <li>Diverse wijzigingen en fixes.</li>
                <li>Optie om per club maatwerk opties bij deelname in te stellen.</li>
                <li>Aanpassing aan het logo zodat het in donkere modus beter uitkomt.</li>
                <li>Toevoegen van het expliciet benoemen van een oppervlakte coordinator.</li>
                <li>Via mobiel zou het menu nu wel correct weergeven moeten worden.</li>
            </ul>
        </div>

        <div class="changelog-entry">
            <span class="changelog-date">Juni 2026 - versie 1</span>
            <ul>
                <li>Eerste testopzet van de app met clubs en duiken.</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
